/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --kkRed: #ad3919;
  --kkBg: #f5f3e6;
  --kkTahini: #eeb755;
  --primaryFont: "Chelsea Market", cursive;
  --secondaryFont: "Raleway", sans-serif;
  --thirdFont: "Courier Prime", monospace;
  --headerHight: 100px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondaryFont);
  background-color: var(--kkBg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.desktopHeader {
  display: flex;
  background-color: var(--kkBg);
  padding: 2rem 4rem;
  position: relative;
  background-color: blueviolet; /*--important---*/
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: turquoise;
}

.logo {
  display: flex;
  margin-left: 4rem;
}

header .logo a {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: violet;
}

.logo img {
  width: 80%;
  object-fit: contain;
}

.logo img:first-child {
  width: 60%;
}
/*--------------------*/

.orderView {
  /* position: relative; */
}

.options {
  display: flex;
  padding: 2em 0;
  width: 100%;
  align-items: flex-start;
  background-color: yellow;
}
.options > div {
  margin: 0;
}

#productPage #takeawayIcon {
  background-image: url(../assets/loader.svg);
  background-size: cover;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-bottom: 0.5em;
}

#productPage #dateIcon {
  background-image: url(../assets/clock.svg);
  background-size: cover;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-bottom: 0.5em;
}

p.time {
  margin-top: -10px;
}

#takeawayIcon {
  background-image: url(/assets/loader.svg);
  background-size: cover;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

#dateIcon {
  background-image: url(/assets/clock.svg);
  background-size: cover;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

#filterIcon {
  background-image: url(/assets/filter.svg);
  background-size: cover;
  width: 46px;
  height: 46px;
  cursor: pointer;
}

.takeawayOptions,
.dateTimeOptions,
#basketInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

button {
  font-family: var(--secondaryFont);
  color: #000;
  background-color: var(--kkTahini);
  padding: 0.5em 1.2em;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

button:hover {
  font-weight: 700;
}

.exit,
.exitDate {
  position: absolute;
  top: 2em;
  right: 2em;
  color: #000;
}

.hidden {
  display: none;
}

h1 {
  color: var(--kkRed);
  font-family: var(--primaryFont);
  margin-bottom: 1.5em;
  width: 80%;
  text-align: center;
}

p {
  font-family: var(--secondaryFont);
  font-size: 1.3em;
  text-align: center;
}

.optionsModal,
.dateModal {
  position: absolute;
  width: 40%;
  background: var(--kkBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  margin-top: 7em;
}

.modalWrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.438);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 8em;
}

.desktopHeader .modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: var(--secondaryFont);
  margin-bottom: 1em;
}

.dateselection {
  margin-bottom: 1em;
}

input[type="datetime-local" i] {
  font-family: var(--secondaryFont);
  height: 40px;
  padding: 1em;
  font-size: 1em;
}

input[type="submit" i] {
  background-color: var(--kkTahini);
  height: 40px;
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  font-size: 1.1em;
}
input[type="submit" i]:hover {
  font-weight: 700;
}
