/* GENERAL */
button {
  font-family: var(--secondaryFont);
  color: #000;
  background-color: var(--kkTahini);
  padding: 0.5em 1.2em;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

button:hover {
  font-weight: 800;
}

.exit {
  position: absolute;
  top: 2em;
  right: 2em;
  color: #000;
}

.hidden {
  display: none;
}

h1 {
  color: var(--kkRed);
  font-family: var(--primaryFont);
  margin-bottom: 1.5em;
}

#takeawayIcon {
  background-image: url(/assets/clock.svg);
  background-size: cover;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

#optionsTakeaway {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.418);
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsModal {
  position: relative;
  width: 40%;
  background: var(--kkBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}
