:root {
  --kkRed: #ad3919;
  --kkTahini: #eeb755;
  --kkBg: #f5f3e6;
  --primaryFont: "Chelsea Market", cursive;
  --secondaryFont: "Raleway", sans-serif;
  --thirdFont: "Courier Prime", monospace;
}
/* GENERAL */

button {
  font-family: var(--secondaryFont);
  color: #000;
  background-color: var(--kkTahini);
  padding: 0.5em 1.2em;
  font-weight: 500;
  border: none;
  border: solid 1px var(--kkTahini);
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
}

img,
video {
  object-fit: cover;
}

video {
  width: 100%;
  /* height: 40vh; */
  opacity: 95%;
}

img.heroBG {
  display: none;
}

/* HOW TO MAKE THE BUTTON BE OPACITY ACTIVE */
/* video:hover {
  opacity: 95%;
} */
h1 {
  font-family: var(--primaryFont);
  font-size: 2.5em;
  color: var(--kkRed);
  margin: 1.5em 0;
  text-transform: uppercase;
  text-align: center;
}

/* LOADER */

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--kkBg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* FIRST SECTION */
.hero {
  width: 100%;
  height: calc(100vh - 136px);
}
.heroWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroVideoImgWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.heroVideoImgWrapper :is(img, video) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-gif {
  z-index: 1;
  height: 80%;
  width: 70%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gifWrapper {
  width: 100%;
  max-width: 500px;
  height: auto;
  background: radial-gradient(
    circle,
    rgba(5, 5, 5, 0.39) 0%,
    rgba(246, 246, 247, 0) 80%
  );
}

.gifWrapper img {
  margin: 0;
  width: 100%;
  object-fit: contain;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options a {
  margin-top: 2em;
}

/* OUR STORY */

.vibe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10em;
}

.vibe p {
  margin-top: 1.2em;
  font-family: var(--secondaryFont);
  width: 90%;
  font-size: 1.1em;
  line-height: 1.6;
}

.vibeWrapper {
  display: flex;
  justify-content: space-between;
}

.story {
  margin-right: 6em;
}

.quotes {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.ulv,
.adam {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.ulv q,
.adam q {
  margin-top: 1em;
  font-family: var(--thirdFont);
  font-size: 1.5em;
  font-style: italic;
}

.ulv p,
.adam p {
  width: 100%;
  margin-top: 0.3em;
}

.quotes img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
}

/* SPOTIFY */

.spotifyBanner {
  width: 100%;
  background-color: #000;
  display: flex;
  color: #fff;
  font-family: var(--thirdFont);
  text-transform: uppercase;
  font-size: 1.6em;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  text-align: center;
}

.spotifyBanner p {
  margin-left: 1em;
}

.spotifyBanner a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

/* OUR BEER */

.collaborator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
}

.beerText {
  margin-left: 3em;
}

.beerText p {
  width: 60%;
  font-family: var(--secondaryFont);
  font-size: 1.1em;
  line-height: 1.6;
}

.collaborator h2 {
  font-family: var(--primaryFont);
  color: var(--kkRed);
  font-size: 2em;
  margin-bottom: 0.4em;
}

/* DIFFERENT */

.different {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
  margin: 3em 0;
}

.different h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.articlesWrapper {
  display: flex;
}

.articlesWrapper article {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articlesWrapper article h3 {
  margin: 1em 0 0.5em 0;
  font-family: var(--secondaryFont);
  font-size: 1.5em;
  text-align: center;
}

.articlesWrapper article p {
  max-width: 30ch;
  text-align: center;
  font-family: var(--secondaryFont);
  font-size: 1em;
  line-height: 1.5;
  width: 75%;
}
.articlesWrapper article img {
  width: 80%;
}

/* OUR MENU */

section.menu {
  background-color: #000;
  padding: 3em 10em 8em 10em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.menu h1 {
  color: white;
}

.categoryWrapper {
  width: 60%;
  border-bottom: 1px solid #fff;
}

.menu h2 {
  width: 55%;
  font-family: var(--primaryFont);
  text-transform: uppercase;
  font-size: 2em;
  margin: 1.5em 0 0.5em 0;
}

.collapsible {
  background-color: #000;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 18px;
  padding-bottom: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: var(--primaryFont);
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.active,
.collapsible:hover {
  background-color: var(--kkTahini);
}

.content {
  width: 100%;
  display: none;
  overflow: hidden;
  background-color: #fff;
}
.product {
  margin: 2em;
  display: flex;
}
.product img {
  width: 50%;
}
.product p {
  color: #000;
  margin-left: 1em;
  font-family: var(--secondaryFont);
  line-height: 1.5;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text .price {
  font-family: var(--primaryFont);
  font-size: 1.5em;
  text-align: right;
}

.menu a {
  margin-top: 4em;
}

/* FIND US */

.findUs {
  background-color: var(--kkRed);
  /* padding: 3em 10em; */
  padding-top: 2rem;
}
.findUs article {
  margin-top: 3rem;
}
.findUs h1 {
  color: #fff;
  margin: 0;
  margin-bottom: 1rem;
}
.findUsWrapper {
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  align-items: flex-start;
}

.findUsWrapper article {
  margin-left: 2em;
}
.findUsWrapper h2 {
  font-family: var(--primaryFont);
  font-size: 2em;
  text-transform: uppercase;
  color: #fff;
}

.findUsWrapper p {
  font-family: var(--secondaryFont);
  color: #fff;
  margin: 0.5em 0 1.5em 0;
  max-width: 70%;
  font-size: 1.6rem;
}

/* .fiesta {
  opacity: 0.6;
} */

.hashtag,
.tunes,
.location,
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  /* background-color: coral; */
}

.location-hours {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.location-hoursWrapper {
  display: flex;
  flex-wrap: wrap;
}

.hours {
  width: 30%;
}
article.location {
  width: 55%;
  min-width: 350px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hashtag p,
.tunes p,
.location p {
  width: 60%;
  text-align: center;
  font-size: 1.6rem;
}

.hours p {
  font-size: calc(1rem + 1vw);
  max-width: 80%;
  text-align: center;
}

.hours a {
  color: var(--kkBg);
}

.igGallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.igGalleryLink {
  display: flex;
  width: 45%;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* margin-bottom: 1rem; */
  /* background-color: crimson; */
}

.igGallery img {
  width: 100%;

  /* margin-left: 0.5em; */
}

.tunes img {
  width: 70%;
}

.location img {
  width: 100%;
  display: none;
}

.hours {
  margin-top: 8em;
  width: 40%;
}

.hours h4 {
  font-family: var(--secondaryFont);
  color: #fff;
}

.hours p {
  font-family: var(--thirdFont);
}

.mapWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  height: 0;
}
.mapWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spotifyBanner {
  margin-bottom: 2rem;
}

/*----------------popUp-----------*/
.modalWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.optionsModal {
  width: 80%;
  max-width: 600px;
  height: 50%;
  max-height: 800px;
  color: black;
  background-color: var(--kkBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: relative;
}

.optionsModal :is(h1, h2) {
  font-family: var(--primaryFont);
  color: var(--kkRed);
  text-transform: uppercase;
  font-size: calc(1.2rem + 1vw);
  font-weight: 400;
  margin: 0;
  margin-top: 1rem;
}

.optionsModal h1 {
  font-size: calc(1.5rem + 1.5vw);
}

.optionsModal p {
  text-align: center;
  font-size: 1.5rem;
}

.btnWrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 1rem;
  flex-wrap: wrap;
}

button:hover {
  background-color: black;
  color: var(--kkTahini);
}

.categoryWrapper button:hover {
  color: black;
}

.exit {
  border: none;
  /* background-color: rgb(36, 35, 35); */
  color: white;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.exit:hover {
  transform: scale(1.15);
}

.categoryWrapper button span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

a:active {
  font-weight: bolder;
  color: blue;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  video.heroBG {
    display: none;
  }
  img.heroBG {
    display: block;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .options {
    right: 0;
    margin: auto;
    width: 100%;
  }

  .product {
    margin: 2em;
    display: flex;
    flex-direction: column;
  }

  .product img {
    width: 100%;
  }

  .vibe {
    /* margin-top: 10em; */
    padding: 0ex;
  }
  .vibeWrapper {
    flex-direction: column;
    align-items: center;
  }

  .story {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .story img {
    width: 100%;
  }

  .quotes {
    margin-top: 5em;
  }

  .spotifyBanner {
    font-size: 1.1em;
  }

  .collaborator {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 3em;
  }
  .collaborator img {
    width: 100%;
  }

  .collaborator h2 {
    margin-top: 2em;
  }

  .collaborator p {
    width: 100%;
  }

  .beerText {
    margin-left: 1em;
  }

  .different {
    padding: 0;
  }

  .articlesWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .articlesWrapper article {
    width: 100%;
    margin-bottom: 3em;
  }

  .articlesWrapper article p {
    width: 100%;
  }
  .categoryWrapper {
    width: 100%;
  }

  section.menu {
    padding: 3em;
  }

  .findUsWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .findUsWrapper article {
    margin-left: 0;
  }

  article.location {
    width: 100%;
  }

  .location-hours {
    width: 100%;
  }

  .mapKK {
    width: 100%;
    height: 20vh;
  }

  /* .igGallery img {
    width: 140px;
  } */

  .hashtag,
  .tunes,
  .location,
  .hours {
    width: 100%;
    margin-top: 2em;
  }
  .hashtag p,
  .tunes p,
  .location p,
  .hours p {
    width: 130%;
  }

  .btnWrapper a + a {
    margin-top: 2rem;
  }
}
