.hero img {
  width: 100%;
}

button {
  font-family: var(--secondaryFont);
  color: #000;
  background-color: var(--kkTahini);
  padding: 0.5em 1.2em;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20em;
  bottom: 18em;
}

.options a {
  margin-top: 2em;
}

.vibe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10em;
}

.vibe h1 {
  font-family: var(--primaryFont);
  font-size: 2.5em;
  color: var(--kkRed);
  margin: 1.5em 0;
}

.vibe p {
  margin-top: 1.2em;
  font-family: var(--secondaryFont);
  width: 50%;
  line-height: 2;
}

.vibeWrapper {
  display: flex;
  justify-content: space-between;
}

.story {
  margin-right: 6em;
}

.quotes {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.ulv,
.adam {
  display: flex;
}

.quotes img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .options {
    right: 0;
    margin: auto;
    width: 100%;
  }
}
