@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --kkRed: #ad3919;
  --kkBg: #f5f3e6;
  --kkTahini: #eeb755;
  --primaryFont: "Chelsea Market", cursive;
  --secondaryFont: "Raleway", sans-serif;
  --thirdFont: "Courier Prime", monospace;
  --headerHight: 100px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondaryFont);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

header {
  width: 100%;
  height: var(--headerHight);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
}

.main-asidesWrapper {
  margin-top: var(--headerHight);
  display: flex;
}

.mainContainer {
  width: 100%;

  height: 100vh;
}

main {
  width: 100%;

  background: url(../assets/hands.svg);
  background-color: rgb(248, 234, 215);
  background-size: 200px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.products {
  width: 100%;
  max-width: 800px;
  height: inherit;
  min-height: 70vh;
  padding: 0 0.5rem;
  padding-bottom: 2rem;
}

.filterName {
  font-family: var(--primaryFont);
  color: var(--kkRed);
  font-size: calc(2rem + 1vw);
}

.btn-add {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url(../assets/plus.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  pointer-events: auto;
  margin-left: auto;
  margin-right: auto;
}

.stickyH2 {
  position: sticky;
  top: var(--headerHight);
  z-index: 2;
  background-color: var(--kkBg);
  text-transform: uppercase;
  color: var(--kkRed);
  font-family: var(--primaryFont);
  font-weight: lighter;
}

/*----------nuevo css-----*/

.marginTop + .marginTop {
  margin-top: calc(1rem + 2vw);
}

.smallCardContainer {
  width: 100%;
  position: relative;
  background-color: var(--kkBg);
}

.smallCard :is(h2, p) {
  margin: 0;
}

.smallCard :is(h2, h3) {
  font-family: var(--primaryFont);
  color: var(--kkRed);
  text-transform: uppercase;
  font-size: calc(1rem + 1vw);
}

.combo h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.checkmark {
  background-image: url(../assets/handPerfect.svg);
  background-color: var(--kkRed);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center;
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  pointer-events: none;
  opacity: 0;
  display: none;
}

.orderGood {
  display: block;
  animation: checkmark 1.2s ease-in-out 1;
}

@keyframes checkmark {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
}

.smallCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 200px;
}

.infoImg {
  display: flex;
}

.imgSmallCard {
  width: 200px;
  object-fit: cover;
}

.infoProduct {
  padding-left: 2vw;
}

.infoProduct p {
  margin-top: 1rem;
}

.drink label {
  display: none;
}
.drink select {
  margin-top: 1rem;
  font-size: 1.5rem;
  border: none;
}
.drink select:focus {
  border: solid 2px var(--kkRed);
}

.priceAdd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 12%;
  max-width: 100px;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

/*-----------------------------*/

/*-------------popUp------------*/
.bg-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-content {
  width: 80%;
  max-width: 600px;
  height: 90%;
  max-height: 700px;
  color: black;
  background-color: var(--kkBg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  overflow-y: scroll;
}

.modal-content :is(h1, h2) {
  font-family: var(--primaryFont);
  color: var(--kkRed);
  text-transform: uppercase;
  font-size: calc(1.2rem + 1vw);
  font-weight: 400;
  margin: 0;
  margin-top: 1rem;
}

.modal-content h1 {
  font-size: calc(1.5rem + 1.5vw);
}

.modal-content p {
  text-align: center;
  font-size: 1.5rem;
}

img.modal {
  width: 80%;
  max-width: 350px;
  object-fit: cover;
}

.btn-close {
  border: none;
  background-color: rgb(36, 35, 35);
  color: white;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
}

#formCombo .forma {
  border-bottom: solid 2px var(--kkRed);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.btn-order {
  margin: 1rem auto;
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--kkTahini);
  color: black;
  width: 50%;
  min-width: 200px;
  cursor: pointer;
}

#formCombo input {
  display: none;
}
#formCombo label {
  border: solid 1px black;
  text-align: center;
  margin-top: 5px;
  font-size: 1.2rem;
  padding: 2px 5px;
}

#formCombo input:checked + label {
  background-color: black;
  color: var(--kkBg);
}

.bg-modal .plus-minus {
  display: flex;
  border: solid 1px var(--kkTahini);
}

.bg-modal .plus-minus button {
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--kkTahini);
}

.bg-modal input.qty {
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  width: 50px;
  text-align: center;
}

/*-------------cursor mano-----------------*/
.cursor,
.cursorMain {
  display: block;
  background-image: url(../assets/pointerHand-v2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  position: fixed;
  border-bottom: none;
  /*transition: position 0.2s;*/
  /* transform: translate(-50%, -50%); */
  pointer-events: none;
  z-index: 1;
  display: none;
}

.btn-order:hover {
  cursor: none;
}

.btn-add {
  cursor: none;
}

.btn-order:hover + .cursor {
  display: block;
}

/*---------------------------------*/

/*---------------filter-----*/
aside {
  width: 250px;
}
.filter {
  width: 100%;
  background-color: var(--kkBg);
  padding: 2rem 4rem;
  position: relative;
}

.filter h2 {
  margin: 0;
  font-family: var(--primaryFont);
  color: var(--kkRed);
  font-size: calc(1rem + 1vw);
  text-align: center;
}

#categoryFilter {
  display: flex;
  flex-direction: column;
}

#categoryFilter input {
  display: none;
}
#categoryFilter label {
  background-color: var(--kkTahini);
  border: solid 1px black;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 3px 5px;
}

#categoryFilter input:checked + label {
  background-color: black;
  color: var(--kkTahini);
}

/*--------------------------*/

/*----------------cartAside/basket-------*/

.cartWrapper {
  border: solid 2px black;
  background-color: var(--kkBg);
  padding: 1rem;
  width: 350px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item + .cart-item {
  margin-top: 1rem;
}

.deletItem {
  background-color: transparent;
  border: none;
  color: var(--kkRed);
  font-size: 2rem;
  font-weight: bolder;
  font-family: var(--primaryFont);
  cursor: pointer;
}

.infoProductCart {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.cart-item label {
  display: none;
}

.cartWrapper .plus-minus {
  display: flex;
  flex-direction: column-reverse;
  border: none;
}

.cartWrapper .plus-minus button {
  border: solid 1px black;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  background-color: var(--kkTahini);
  width: 40px;
}

.cartWrapper input.qty {
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  width: 40px;
  text-align: center;
}

.cartWrapper h2 {
  font-family: var(--primaryFont);
  color: var(--kkRed);
}

.basket {
  background-image: url(../assets/bag.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 5vw;
}

.cartItemsCounter {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  font-family: var(--secondaryFont);
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hideCartCounter {
  opacity: 0;
}

/*-----------------------*/

@media only screen and (max-width: 600px) {
  /*-----smallcard------*/

  main h2 {
    font-size: 18px;
  }

  main p {
    font-size: 16px;
  }

  .smallCardContainer {
    width: 100vw;
    padding: 0 5px;
  }

  .smallCard {
    max-height: 120px;
  }

  .imgSmallCard {
    width: 25%;
    object-fit: contain;
  }

  .infoProduct {
    padding-left: 2vw;
    font-size: 16px;
    overflow: hidden;
  }

  .priceAdd {
    font-weight: 400;
  }

  /*-----------------*/
}
